body {
  padding-top: 15px;
  background-color: #fcfcfc;
}

.title {
  text-align: center;
  font-weight:bold;
}

.done {
  text-decoration: line-through;
}

.dotted {
  border-top: dotted 2px;
  color: #d3d3d3;
}

input.form-control {
  height: 33px;
}


ul.todo-list {
  list-style-type: none;
  padding-top: 10px;
  padding-left: 5px;
}

li.todo-item {
  padding-top: 5px;
  padding-bottom:5px;
}

a.todo-text-control {
  padding-left: 5px;
  text-decoration: none;
  display: inline;
}

.delete-control {
    display: none;
}

.todo-row-control:hover .delete-control{
  display: inline;
  
}
    
a:hover + .todo-item {
    display: inline;
}

.todo-control {
  background: white;
  border-style: solid;
  border-width: 1px;
  border-color: #B0B0B0;
  border-radius: 5px;
  padding-bottom: 10px;
}