<html>
  <head>
    <script src="{{STATIC_URL}}vender/react-0.12.2.js"></script>
    <script src="{{STATIC_URL}}vender/JSXTransformer-0.12.2.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
  </head>

  <body>
    <div id="mount-point"></div>
    <script type="text/jsx" src="{{STATIC_URL}}js/main.jsx"></script>
  </body>
  <script src="{{STATIC_URL}}vender/jquery-1.11.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</html>



